@model BabyBug.Common.ViewModels.Garments.GarmentDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h4>GarmentDetailsModel</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Gender)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>
    @if (User.IsInRole("Admin"))
        {
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedOn)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedOn)
    </dd>
        }
</dl>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Orders" asp-action="Order" asp-route-id=@Model.Id>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input type="number" asp-for="Quantity" class="form-control" value="1" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for=@Model.Size class="selectpicker">
                    <option>--Select a size--</option>
                    @foreach (var size in Model.AvailableSizes)
                    {
                    <option value=@size>@size</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
@if (User.IsInRole("Admin"))
    {
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-area="Administrator" asp-controller="Garments" asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-area="Administrator" asp-controller="GarmentSize" asp-action="ManageSizes" asp-route-id=@Model.Id>Manage sizes</a>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-area="Administrator" asp-controller="Garments" asp-action="Delete" asp-route-id=@Model.Id>Delete</a>
    </div>
</div>
    }

