@model ICollection<BabyBug.Common.ViewModels.Orders.BaseOrderedProductModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product name</th>
                <th scope="col">Size</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        @{ var index = 1; }
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td><a asp-controller="Garments" asp-action="Details" asp-route-id=@product.ProductId>@product.Name</a></td>
                <td>@product.Size</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
                <td>
                    <form method="post" asp-controller="Orders" asp-action="RemoveProduct" asp-route-orderId=@product.OrderId asp-route-productId=@product.ProductId asp-route-size=@product.Size>
                        <input type="submit" value="Remove" class="btn btn-danger"/>
                    </form>
                </td>
            </tr>
            index++;
        }

    </table>
    <div class="row">
        <div class="col">
            <h4>Total Price: @Model.Sum(x => x.Price * x.Quantity)</h4>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-controller="Orders" asp-action="ManageDelivery" asp-route-username=@User.Identity.Name>Finish Order</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <h2>No products in the shopping cart yet.</h2>
    </div>
}

