@model BabyBug.Common.ViewModels.Orders.AllOrderedProductsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<hr />
<div class="row">
    <div class="col">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UserFullName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UserFullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Address)
            </dd>
        </dl>
    </div>
    <div class="col">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PaymentType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PaymentType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DeliveryType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DeliveryType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DeliveryAddress)
            </dd>
            <dt class="col-sm-4">Total price:</dt>
            <dd class="col-sm-8">@Model.OrderedProducts.Sum(x => x.Price * x.Quantity)</dd>
        </dl>
    </div>
</div>
