@model BabyBug.Common.ViewModels.TypeManagement.AllTypesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.ProductTypes.Any())
{
    <h5>Product types:</h5>
    <partial name="_TypeTablePartial" model="@Model.ProductTypes" />
    <a class="btn btn-outline-success" asp-area="Administrator" asp-controller="TypeManagement" asp-action="Edit" asp-route-name="@Model.ProductTypeName">Edit</a>
}
@if (Model.PaymentTypes.Any())
{
    <h5 class="pt-5">Payment types:</h5>
    <partial name="_TypeTablePartial" model="@Model.PaymentTypes" />
    <a class="btn btn-outline-success" asp-area="Administrator" asp-controller="TypeManagement" asp-action="Edit" asp-route-name="@Model.PaymentTypeName">Edit</a>
}
@if (Model.DeliveryTypes.Any())
{
    <h5 class="pt-5">Delivery types:</h5>
    <partial name="_TypeTablePartial" model="@Model.DeliveryTypes" />
    <a class="btn btn-outline-success" asp-area="Administrator" asp-controller="TypeManagement" asp-action="Edit" asp-route-name="@Model.DeliveryTypeName">Edit</a>
}
