@model Eventures.ViewModels.AllEventsViewModel<Eventures.ViewModels.BaseMyEventViewModel>
@{
    ViewData["Title"] = "My Events";
}

<div class="col-lg-offset-1 col-lg-10">
    <h1 class="text-center">My Events</h1>
    <hr class="hr-2 hr-turquoise" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Tickets</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @for (var i = 0; i < Model.Events.Count(); i++)
            {
                {
                    var e = Model.Events.ToList()[i];
            <tr>
                <th scope="row">@index</th>
                <td>@e.Name</td>
                <td>@e.Start</td>
                <td>@e.End</td>
                <td>@e.Tickets</td>
            </tr>
                }
                { index++; }
            }
        </tbody>
    </table>
    <hr class="hr-2 hr-turquoise" />
</div>