@model ICollection<BabyBug.Common.ViewModels.Orders.BaseOrderedProductModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @{ var index = 1; }
    @foreach (var product in Model)
    {
        <tr>
            <th scope="row">@index</th>
            <td><a asp-area="Shopping" asp-controller="Products" asp-action="Details" asp-route-id=@product.ProductId>@product.Name</a></td>
            <td>@product.ProductType</td>
            <td>@product.Size</td>
            <td>@product.Quantity</td>
            <td>@product.Price</td>
            <td>
                <form method="post" asp-area="User" asp-controller="Orders" asp-action="RemoveProduct" asp-route-orderId=@product.OrderId asp-route-productId=@product.ProductId asp-route-size=@product.Size>
                    <input type="submit" value="Remove" class="btn btn-danger" />
                </form>
            </td>
        </tr>
        index++;
    }

</table>
<div class="row">
    <div class="col">
        <h4>Total Price: <span>@Model.Sum(x => x.Price * x.Quantity)</span></h4>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-area="User" asp-controller="Orders" asp-action="ManageDelivery" asp-route-username=@User.Identity.Name>Finish Order</a>
    </div>
</div>